body{
  background-color: #F0E9D2;
  color: #D82148;
  width: 100%;
}

footer {
  margin-top: 10%;
  color: #D82148;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  position: relative;
  top: 5rem
}
h1{
  font-family: 'Slackey', cursive;
  font-size: 3rem;
}
.container{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  font-family: 'Bad Script', cursive;
  font-size: 32px;
  margin: 20%;
}

table{
  text-align: center;
}
img{
  width: 80%;
}
